GOOGLE_CLIENT_ID=506134860126-v75qmbti4m8b0l5ms7h96hhejlj2q1jm.apps.googleusercontent.com
SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
DATABASE_URL=YOUR_POSTGRES_CONNECTION_STRING
NODE_ENV=production
